//svg
.simbolo {
    display: block;
    margin: 10px auto;
    &__1 {
      animation-name: move;
      animation-duration: 4s;
      animation-iteration-count: infinite;
    }
    &__2 {
      animation-name: moved;
      animation-duration: 5s;
      animation-iteration-count: infinite;
      transform-origin: center;
      transform-box: fill-box;
    }
  }
  
  @keyframes move {
    0% {
      transform: translateX(0);
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      -ms-transform: translateX(0);
      -o-transform: translateX(0);
    }
    50% {
      transform: translateX(35%);
      -webkit-transform: translateX(35%);
      -moz-transform: translateX(35%);
      -ms-transform: translateX(35%);
      -o-transform: translateX(35%);
    }
    100% {
      transform: translateX(0);
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      -ms-transform: translateX(0);
      -o-transform: translateX(0);
    }
  }
  
  @keyframes moved {
    100% {
      transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
    }
  }
  