.navbar-img {
    width: 132px;
    height: 53px;
}

.nav-emprendimiento{
    background-color: $color-black;
}

.navbar-toggler:hover{
    background-color: $color-tangerine;
}

.navbar-img{
    position: relative;
    left: -22px;
}